<!-- wp:template-part {"slug":"header","tagName":"header","className":"transparent-header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","bottom":"0px","right":"0px","left":"0px"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"},"blockClientId":"c3b997e0-2a04-11ee-ae81-0147f721b64a"} -->
<div
  class="wp-block-group gutenify-section-c3b997e0-2a04-11ee-ae81-0147f721b64a"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  "
>
 <!-- wp:pattern {"slug":"gutenify-lynx/cover-with-archive-title"} /-->

  <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","right":"4.2vw","left":"4vw"}}},"layout":{"type":"constrained"},"blockClientId":"c3b970d0-2a04-11ee-ae81-0147f721b64a"} -->
  <div
    class="wp-block-group alignfull gutenify-section-c3b970d0-2a04-11ee-ae81-0147f721b64a"
    style="
      padding-top: var(--wp--preset--spacing--80);
      padding-right: 4.2vw;
      padding-bottom: var(--wp--preset--spacing--80);
      padding-left: 4vw;
    "
  >
    <!-- wp:columns {"align":"full","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|80","left":"var:preset|spacing|80"}}},"blockClientId":"c3b922b0-2a04-11ee-ae81-0147f721b64a"} -->
    <div
      class="wp-block-columns alignfull gutenify-section-c3b922b0-2a04-11ee-ae81-0147f721b64a"
    >
      <!-- wp:column {"width":"22%","blockClientId":"c3b7ea30-2a04-11ee-ae81-0147f721b64a"} -->
      <div
        class="wp-block-column gutenify-section-c3b7ea30-2a04-11ee-ae81-0147f721b64a"
        style="flex-basis: 22%"
      >
        <!-- wp:template-part {"slug":"product-sidebar","theme":"gutenify-lynx","blockClientId":"c3b7c320-2a04-11ee-ae81-0147f721b64a"} /-->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"width":"73%","layout":{"type":"default"},"blockClientId":"c3b8ad80-2a04-11ee-ae81-0147f721b64a"} -->
      <div
        class="wp-block-column gutenify-section-c3b8ad80-2a04-11ee-ae81-0147f721b64a"
        style="flex-basis: 73%"
      >
        <!-- wp:group {"layout":{"inherit":true,"type":"constrained"},"blockClientId":"c3b85f60-2a04-11ee-ae81-0147f721b64a"} -->
        <div
          class="wp-block-group gutenify-section-c3b85f60-2a04-11ee-ae81-0147f721b64a"
        >
          <!-- wp:woocommerce/legacy-template {"template":"taxonomy-product_cat"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->



<!-- wp:template-part {"slug":"footer"} /-->
